.library-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.name-of-book {
    font-family: 'Nunito', sans-serif;
    margin-top: 0px;
    font-size: 21px;
}