.library-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.name-of-book {
    font-family: 'Nunito', sans-serif;
    margin-top: 0px;
    font-size: 21px;
}

.cart-container {
    background-color: #E6E6FA;
}

.button-cart1{
    width: 60%;
    color: white;
    background-color: rgba(69, 201, 69, 0.705);
    border: 1px solid silver;
    padding: 8px;
    border-radius: 5px;
}

.button-cart2{
    width: 60%;
    color: white;
    background-color: rgba(228, 55, 55, 0.808);
    border: 1px solid silver;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
}

@media screen and (max-width:600px) {
    .books-container{
        grid-template-columns: repeat(1, 1fr)
    }
}